<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sourcedb" value="server=.;database=FM_Hti_Local;integrated security=true;MultipleActiveResultSets=true;"/>
		<add key="seconddb" value="server=.;database=FM_Hti_Local2;integrated security=true;MultipleActiveResultSets=true;"/>
	</appSettings>
</configuration>